body.app>* {
    display: block;
}

header {
    display: none;
}

header.visible {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.album-art {
    vertical-align: top;
}

li.selected {
    font-weight: bold;
}

button {
    width: 3em;
    height: 2em;
}
