body.app>* {
    display: block;
}

header {
    display: none;
}

header.visible {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

header.visible output {
    padding: 0.5em;
    border: 3px solid darkred;
    border-radius: 0 0 0.5em 0.5em;
    border-top: none;
}

.album-art {
    vertical-align: top;
}

li.selected {
    font-weight: bold;
}

button {
    width: 3em;
    height: 2em;
}

#podcasts {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
}

#podcast-items {
    overflow-y: scroll;
}

#podcasts-playback-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-top: 1px solid black;
}

#podcasts-playback-controls button {
    margin: 0.5em;
}
