body.app>* {
    display: block;
}

h1, h2 {
    text-align: center;
}

header {
    display: none;
}

header.visible {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

header.visible output {
    padding: 0.5em;
    border: 3px solid darkred;
    border-radius: 0 0 0.5em 0.5em;
    border-top: none;
}

.album-art {
    vertical-align: top;
}

li.selected {
    font-weight: bold;
}

button {
    min-width: 3em;
    min-height: 2em;
    padding: 0.5em;
}

#podcasts {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
}

#podcast-selector {
    border-bottom: 1px solid black;
    padding-bottom: 0.2em;
}

#podcast-selector>*, #podcast-selector input, #podcast-selector select {
    margin: 0.2em;
}

#podcast-items {
    overflow-y: scroll;
}

.stream-button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.stream-button-row button {
    font-size: 1.5em;
}

#podcasts-playback-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-top: 1px solid black;
}

#podcasts-playback-controls button {
    margin: 0.5em;
    font-size: 1.5em;
}
