#app.podcasts {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-flow: column nowrap;

    #new-podcast,
    #select-podcast,
    main,
    footer {
        padding: 0.5em;
    }

    #new-podcast,
    #select-podcast {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        label {
            text-align: center;
        }
    }

    main {
        flex: 1;
        overflow-y: scroll;

        h1,
        h2,
        div,
        p {
            text-align: center;
        }
    }

    footer {
        display: flex;

        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    main button,
    footer button {
        margin: 0.5em;
        font-size: 1.5em;
    }
}
